<div class="card widget-card">
        <div class="card-header widget-header">
          <p class="widget-name">Weather forecast</p>
          <div class="widget-function">
            <a>
              <i class="fas fa-download"></i>
            </a>
            <a>
              <i class="fas fa-edit"></i>
            </a>
            <a>
              <i class="fas fa-trash-alt"></i>
            </a>
          </div>
        </div>
        <div class="card-block widget-content">
          <div class="row">
            <div class="col-sm-6">
              <img src="{{weatherToday.icon}}">
            </div>
            <div class="col-sm-6">
              <p>{{weatherToday.temp}} ℃</p>
              <p>{{weatherToday.status}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4" *ngFor="let weather of weatherNextDays">
              <p>{{weather.day}}</p>
              <div class="row">
                <div class="col-sm-6">
                  <p>{{weather.temp}} ℃</p>
                </div>
                <div class="col-sm-6">
                  <img src="{{weather.icon}}">
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </div>
      