<div class="card widget-card">
  <div class="card-header widget-header">
    <p class="widget-name">Weather forecast</p>
    <div class="widget-function">
      <a>
        <i class="fas fa-download"></i>
      </a>
      <a>
        <i class="fas fa-edit"></i>
      </a>
      <a>
        <i class="fas fa-trash-alt"></i>
      </a>
    </div>
  </div>
  <div class="card-block widget-content">
    <table>
      <tr>
        <td class="weather-today">
          <img src="{{weatherToday.icon}}">
        </td>
        <td style="padding-right:100px">
          <p>{{weatherToday.temp}} ℃</p>
          <p>{{weatherToday.status}}</p>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="weather-nextdays" *ngFor="let weather of weatherNextDays">
          <p>{{weather.day}}</p>
          <div class="row">
            <div class="col-sm-6 col-lg-6 col-md-6">
              <p style="padding-top:25px">{{weather.temp}} ℃</p>
            </div>
            <div class="col-sm-6">
              <img src="{{weather.icon}}">
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>