
@media (min-width: 100px) {
  select {
    font-size: 16px;
    background-color:transparent;
  }
  .form-control{
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0px;
    margin-bottom:0px;
  }
  .modal-element-border{
    border-radius:5px;
    border:1px solid#939393 !important;
  }
  #ruleTitle{
    padding-left:0.25rem!important;
  }
  label {
    font-size: 16px;
    padding-top: 3px;
  }
  .card {
    width: 99.4% !important;
    margin-left:0.2%;
    margin-right: 0.4%;
  }
  
  .modal-element-pullleft{
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0.5rem;
    padding-left:0px!important;
    padding-right:0!important;
  }
  .modal-element-pullright{
    margin-left:0rem;
    margin-right:0px;
    margin-bottom:0.5rem;
    padding-left:0px!important;
    padding-right:0!important;
  }
  .modal-element-pullright > input{
    padding-left:0.5rem!important;
  }

  .rule-headerCell-1 {
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    max-height: 30px!important;
    min-height: 30px!important;
    width:75%;
    margin-left:1%;
  }
  
  .rule-headerCell-2 {
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    max-height: 30px!important;
    min-height: 30px!important;
    width:24%;
    text-align:center;

  }
  .rule-header-label {
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    max-height: 28px!important;
    min-height: 28px!important;
    
  }
  .card-header-icon {
    font-size: 18px;
    background-color:transparent!important;
    min-height: 30px!important;
    max-height: 30px!important;
  }
    
  .create-rule-btn {
    text-align: center;
    mix-blend-mode: undefined;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;   
    text-transform: uppercase;
    color: #ffffff;
    border:1px solid #1aaa55; 
    border-radius: 25px;
    background-image: linear-gradient(202deg, #1aaa55, #1aaa55);
  }
  .modal-body{
    font-family: Poppins;
  }
}

@media (min-width: 450px) {
  select {
    font-size: 18px;
  }
  label {
    font-size: 18px;
    padding-top: 3px;
  }
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .card {
    width: 99.4% !important;
  }
  .rule-headerCell-1 {
    width:88%;
    margin-left:1%;
  }
  
  .rule-headerCell-2 {
    width:11%;
  }
  
  .create-rule-btn {
    border-bottom: none solid white !important;
    width: 200px !important;
    text-align: center !important;
    margin: 0px 2px !important;
    height: 34px;
  }
    
}

@media (min-width: 800px) {
  .card {
    width: 99.4% !important;
  }
  
  .rule-headerCell-1 {
    width:92%;
    margin-left:1%;
  }
  
  .rule-headerCell-2 {
    width:7%;
  }
  .rule-header-label {
    font-size: 18px;
  }

  .card-header-icon {
    font-size: 18px;
    background-color:transparent!important;
    min-height: 30px!important;
    max-height: 30px!important;
  }
  .create-rule-btn {
    font-size: 1rem;
  }
}
@media(min-width:992px)
{
  .modal-element-pullleft{
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0.25rem;
    padding-left:0px!important;
    padding-right:0.25rem!important;
  }
  .modal-element-pullright{
    margin-left:0px!important;
    margin-right:0px;
    margin-bottom:0.25rem;
    padding-left:0px!important;
    padding-right:0!important;
  }
  #ruleTitle{
    padding-left:0.25rem!important;
  }
}

@media (min-width: 1030px) {
  .card {
    width: 49.4% !important;
  }
  
  .rule-headerCell-1 {
    width:89%;
    margin-left:1%;
  }
  
  .rule-headerCell-2 {
    width:10%;
  }
  
}

@media (min-width: 1300px) {
  .card {
    width: 32.4% !important;
  }
  
  .rule-headerCell-1 {
    width:86%;
  }
  
  .rule-headerCell-2 {
    width:12%;
  }
}
option{
  color:black;
}
.rule-header {
  font-family: Poppins;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  max-height: 28px!important;
  min-height: 28px!important;
}
.rule-header i {
  margin-right: 20px;
  color: #1aaa55;
}
.card-body{
  max-height:500px!important;
}

.card-header{
  max-height: 70px!important;
}
.modal {
  text-align: center;
}

.when-eclipse-1 {
  width: 10px;
  height: 10px;
  border: solid 2px #1aaa55;
}

.when-eclipse-2 {
  width: 10px;
  height: 10px;
  background-color: #1aaa55;
  border: solid 2px #1aaa55;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.inner-addon {
  position: relative;
}

/* align glyph */

.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.search-input {
  background-color: transparent;
  border: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.fa-search {
  color: #1aaa55;
}

.search-box {
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 15px !important;
  border-color: #dadada;
  height: 35px;
  margin-left:0.2%;
  margin-right:0.4%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

.rule-container{
  justify-content: center;
}

.enable-background-blue {
  background-color: blue !important;
}

.enable-background-green {
  background-color: green !important;
}

.enable-background-red {
  background-color: #1aaa55;
}

.b-0{
  border:none!important;
}

.card {
  height: 250px !important;
}

.condition-box {
  align-items: center;
  display: flex;
}

.condition-type-box {
  align-items: center;
  display: flex;
  min-height: 100%;
}

.eclipse-box {
  align-items: center;
  display: flex;
  text-align: center;
}

.line-gap {
  height: 72px;
  width: 2px;
}

.popin{
  font-family: Poppins;
}

.line {
  height: 70px;
  border-left: 1px dashed #1aaa55;
}

.center {
  align-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.ellipse{
  overflow: hidden!important;
  text-overflow:ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}
.span-ellipse{
  position:absolute!important;
  overflow: hidden!important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: initial;
  left:0;
  right:0;
}
.top-then{
  top:80%;
}
.top-when{
  top:15%;
}
.rule-table-height{
  height:110px!important;
}
.span-ellipse:before{
  content: '';
  display:inline-block;
}
.then-conditions {
  height: 60px !important;
  overflow: hidden!important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  vertical-align: bottom;
}

.then-conditions-span {
  overflow: hidden!important;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.switch-icon {
  width: 20px;
  height: 16px;
  object-fit: contain;
}

.contact-icon {
  width: 20px;
  height: 14px;
  object-fit: contain;
}

.createRuleTemplate {
  border: 3px dashed #1aaa55;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  border-image-slice: 2;
  align-content: center;
  align-items: center;
  .fas {
    font-size: 50px;
    color: #1aaa55;
  }
}


.rules-name {
  line-height: 50px;
  margin: 18px 0px;
  float: left;
  font-size: 30px;
  font-weight: bold;
  .fas {
    margin-right: 20px;
    color: #1aaa55;
  }
}

.rules-header {
  height: 50px;
  margin-bottom: 2rem;
}

.bold{
  font-weight:bold!important;
}
.black{
  color:black!important;
}