<div class="card widget-card">
  <div class="card-header widget-header">
    <p class="widget-name">{{widgetName}}</p>
    <div class="widget-function">
      <a>
        <i class="fas fa-download"></i>
      </a>
      <a>
        <i class="fas fa-edit"></i>
      </a>
      <a>
        <i class="fas fa-trash-alt"></i>
      </a>
    </div>
  </div>
  <div class="card-block widget-content">
    <p class="metric-number">{{data[field]}}
      <span class="unit">{{widgetData.unit}}</span>
    </p>
  </div>
</div>
