<div class="card widget-card">
  <div class="card-header widget-header">
    <p class="widget-name">{{model.name}}</p>
    <div class="widget-function">
      <a (click)="setEdit(true)">
        <i class="fas fa-edit"></i>
      </a>
      <a (click)="setDelete(true)">
        <i class="fas fa-trash-alt"></i>
      </a>
    </div>
  </div>
  <div class="card-block widget-content" #content>
    <div [chart]="options"></div>
  </div>
</div>

<div class="app-modal" *ngIf="isDeleting==true">
  <div class="app-modal-content">
    <div class="app-modal-header">
      <p class="title">Warning message</p>
    </div>
    <p class="message">Are you sure want to delete this Widget</p>
    <div class="app-modal-footer">
      <button class="app-btn" (click)="deleteWidget()">Delete widget</button>
      <button class="app-btn-white" (click)="setDelete(false)">Cancel</button>
    </div>
  </div>
</div>

<div class="app-modal edit-modal" *ngIf="isEditing==true">
  <div class="app-modal-content">
    <div class="app-modal-header">
      <p class="title">Edit widget</p>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="app-modal-body">
        <p class="edit-section">
          Device overview
        </p>
        <div class="form-group">
          <label>Name</label>
          <input [(ngModel)]="model.name" type="text" class="form-control" placeholder="Widget's name" name="name">
        </div>
        <p class="edit-section">
          Widget data
        </p>
        <div class="form-group">
          <label>Device</label>
          <input [(ngModel)]="model.data.device_id" type="text" class="form-control" placeholder="Device ID" name="deviceId">
        </div>
        <div class="form-group">
          <label>Field</label>
          <input [(ngModel)]="model.data.field" type="text" class="form-control" placeholder="Field" name="field">
        </div>
        <div class="form-group">
          <label>Format</label>
          <input [(ngModel)]="model.data.unit" type="text" class="form-control" placeholder="Unit" name="unit">
        </div>
      </div>
      <div class="app-modal-footer">
        <button class="app-btn" type="submit" (click)="setEdit(false)">Save</button>
        <button class="app-btn-white" (click)="setEdit(false)">Cancel</button>
      </div>
    </form>
  </div>
</div>