$primary-color: #454545;
$second-color: #939393;
$red-color:#ee3731;
::-webkit-scrollbar {
    display: none;
} // Hide scrollbar of gridster when use 'scrollVertical' mode
.dashboard-header {
    height: 50px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    .dashboard-name {
        line-height: 50px;
        margin: 0;
        float: left;
        i {
            margin-right: 20px;
            color: $red-color;
        }
        font-size: 30px;
        font-weight: bold;
    }
    .dashboard-function {
        float: right;
        margin-top: 10px;
        .dashboard-btn {
            width: 30px;
            color: $red-color;
            background: none;
            border: solid 1px $red-color;
            border-radius: 5px;
            margin-left: 10px;
        }
        .add-widget {
            font-size: 12px;
            line-height: 28px;
            padding: 0px 15px;
        }
    }
}

.app-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.delete-modal {
    .app-modal-content {
        border-radius: 5px;
        background-color: #fefefe;
        margin: 15% auto;
        border: 1px solid #888;
        width: 40%;
        .message {
            text-align: center;
            font-size: 22px;
            margin: 35px 0;
        }
        .app-modal-header {
            padding: 25px;
            border-bottom: 1px solid #e5e5e5;
            .title {
                font-weight: 600;
                margin: 0;
                font-size: 22px;
                color: #ee3731;
                text-transform: uppercase;
            }
        }
        .app-modal-footer {
            text-align: center;
            padding-bottom: 30px;
            .app-btn,
            .app-btn-white {
                margin: 0px 15px;
            }
        }
    }
}

.renameDashboard {
    margin: 25px !important;
}

gridster-item {
    z-index: auto !important;
}

gridster {
    position: absolute;
}

.dropdown-toggle::after {
    display: none
}