$primary-color: #454545;
$second-color: #939393;
$red-color:#1aaa55;
.layout-title {
  font-size: 30px;
  font-weight: bold;
  color: $primary-color;
  margin-bottom: 25px;
}

.header {
  height: 50px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  .name {
    line-height: 50px;
    margin: 0;
    float: left;
    i {
      margin-right: 20px;
      color: $red-color;
    }
    font-size: 30px;
    font-weight: bold;
  }
  .function {
    float: right;
    margin-top: 10px;
    .btn {
      width: 30px;
      color: $red-color;
      background: none;
      border: solid 1px $red-color;
      border-radius: 5px;
      margin-left: 10px;
    }
    .add-widget {
      font-size: 12px;
      line-height: 28px;
      padding: 0px 15px;
    }
  }
}

.app-content {
  border-top: 1px solid #e6e6e6;
  height: 100%;
  width: 100%;
  .container-fluid {
    height: 100%;
    .row {
      height: 100%;
    }
  }
  .side-menu {
    width: 100%;
    border-right: 1px solid #e6e6e6;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: $primary-color;
          font-size: 18px;
          font-weight: bold;
          display: block;
          padding: 0;
          padding-left: 50px;
          line-height: 50px;
          &:hover {
            text-decoration: none;
          }
        }
        &.active {
          border-left: 3px solid $red-color;
          a {
            padding-left: 47px;
            background-color: #fdeceb;
            color: $red-color;
            text-decoration: none;
          }
        }
      }
    }
  }
  .main-content {
    width: 100%;
    min-height: 1000px;
    float: left;
    padding: 20px 40px;
    background: #fafafa;
  }
}
