<div class="header">
  <div class="app-container">
    <h1 class="name">
      <i class="fas fa-user"></i>Account Settings
    </h1>
  </div>
</div>
<div class="app-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="row">
          <div class="side-menu">
            <ul>
              <li [class.active]="currentUrl==='/account/profile'">
                <a href="#" routerLink="profile">Profile</a>
              </li>
              <li [class.active]="currentUrl==='/account/password'">
                <a href="#" routerLink="password">Password</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="main-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
