<div class="edit-pages">
  <div class="device-tag">
    <p class="title">
      <strong> DEVICE OVERVIEW </strong>
    </p>
    <form>
      <p>Device Name</p>
      <input class="long-input form-control" type="text" [(ngModel)]="device.name" name="device-name">
      <p>Device Description</p>
      <textarea class="long-input" [(ngModel)]="device.description" name="description"></textarea>
    </form>
  </div>

  <div class="device-tag">
    <p class="title">
      <strong>DEVICE TYPE</strong>
    </p>
    <label class="radio-inline">
      <input style="padding-top:10px" type="radio" disabled name="device-type" value="sensor" [checked]="device.type=='Sensor'"> Sensor</label>
    <label class="radio-inline column-right">
      <input type="radio" name="device-type" disabled value="gateway" [checked]="device.type=='Gateway'"> Gateway</label>
  </div>

  <div class="device-tag">
    <p class="title">
      <strong> DEVICE ATTRIBUTE</strong>
    </p>
    <div class="row">
      <div class="col-sm-9">
        <table>
          <tr>
            <td class="column-left">
              <p>Data Type</p>
              <i class="fa fa-minus-circle" aria-hidden="true" style="color:gray"></i>
              <select class="short-input" disabled>
                <option>Number</option>
                <option>String</option>
              </select>
            </td>
            <td class="column-right">
              <p>Name</p>
              <input class="short-input" type="text" value="Temperature" readonly>
            </td>
          </tr>
          <tr>
            <td class="column-left">
              <p>Data Type</p>
              <i class="fa fa-minus-circle" aria-hidden="true" style="color:gray"></i>
              <select class="short-input" disabled>
                <option>String</option>
                <option>Number</option>
              </select>
            </td>
            <td class="column-right">
              <p>Name</p>
              <input class="short-input" type="text" value="Notes" readonly>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div>
      <i class="fa fa-plus-circle" aria-hidden="true">
        <span> Add device attribute</span>
      </i>
    </div>

  </div>
  <div class="bottom-bar">
    <div class="bottom-bar-button">
      <button class="app-btn" (click)="saveDevice()">Save Device</button>
      <button class="app-btn-white" routerLink="/device-list">Cancel</button>
    </div>
  </div>

</div>