<div class="app-container">
  <h2 class="layout-title">
    {{device.name}}
  </h2>
</div>
<div class="app-content">
  <div class="side-menu">
    <ul>
      <li class="active" [class.active]="util.currentDevicePage=='properties'">
        <a (click)="util.setCurrentDevicePage('properties')">Properties</a>
      </li>
      <li [class.active]="util.currentDevicePage=='debug'">
        <a (click)="util.setCurrentDevicePage('debug')">Debug</a>
      </li>
      <li [class.active]="util.currentDevicePage=='data'">
        <a (click)="util.setCurrentDevicePage('data')">Data</a>
      </li>
      <li [class.active]="util.currentDevicePage=='simulator'">
        <a (click)="util.setCurrentDevicePage('simulator')">Simulator</a>
      </li>
    </ul>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>