<div class="header">
  <div class="app-container">
    <h1 class="name">
      <i class="fas fa-microchip"> </i>{{this.device.name }}
    </h1>
  </div>
</div>
<div class="app-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="row">
          <div class="side-menu">
            <ul>
              <li [class.active]="routeLast==='properties'">
                <a href="#" routerLink="properties">Properties</a>
              </li>
              <li [class.active]="routeLast==='data'">
                <a href="#" routerLink="data">Data</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="main-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
