<app-loading [content]="'Loading users'"></app-loading>

<div class="app-container" *ngIf="!util.isLoading">
  <div class="col-12-sm">
    <div class="users-header">
      <table class="button-datatable" style="width:100%">
        <thead>
          <tr>
            <td>
              <h1 class="users-name">
                <i class="fas fa-users"></i>Users
              </h1>
            </td>
            <td class="menu-button">
              <button class="app-btn">NEW</button>
              <button class="app-btn-white" [disabled]="idsToEnable.size==0" data-toggle="modal" data-target="#enableMultipleModal">ENABLE</button>
              <button class="app-btn-white" [disabled]="idsToDisable.size==0" data-toggle="modal" data-target="#disableMultipleModal">DISABLE</button>
            </td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="inputicon">
      <table id="datatable">
        <p class="fa fa-search" aria-hidden="true"></p>
        <a class="refresh" (click)="getListUsers()">
          <a class="fa fa-repeat"></a> Refresh</a>
        <thead style="background-image: linear-gradient(339deg, #1aaa55, #1aaa55);">
          <tr>
            <th>
              <input type="checkbox" name="checkUser" value="selectAll" class="select-all-checkbox" (change)=checkAllChanged($event)>
            </th>
            <th>Email</th>
            <th>Name</th>
            <th>Status</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <input type="checkbox" name="checkUser" value="{{user.id}}" (change)=checkboxChanged($event)>
            </td>

            <td class="email" *ngIf="user.activated==true">{{user.email}}</td>
            <td class="disable" *ngIf="user.activated==false">{{user.email}}</td>

            <td *ngIf="user.activated==true">{{user.name}}</td>
            <td class="disable" *ngIf="user.activated==false">{{user.name}}</td>

            <td *ngIf="user.activated==true">
              <li class="active">Active</li>
            </td>
            <td *ngIf="user.activated==false">
              <li class="disable">Disable</li>
            </td>

            <td *ngIf="user.activated==true">
              <button class="trash" (click)="setDisableUser(user)" data-toggle="modal" data-target="#disableModal">
                <a class="fa fa-pencil"></a>
              </button>
            </td>
            <td *ngIf="user.activated==false">
              <button class="trash" (click)="setEnableUser(user)" data-toggle="modal" data-target="#enableModal">
                <a class="fa fa-pencil"></a>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Disable user -->
<div class="modal fade" id="disableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Disable confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to disable this user: {{checkedUser.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="disableUser()" data-dismiss="modal">Disable</button>
      </div>
    </div>
  </div>
</div>

<!-- Disable users -->
<div class="modal fade" id="disableMultipleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Disable confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to disable these users?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="disableUsers()" data-dismiss="modal">Disable</button>
      </div>
    </div>
  </div>
</div>

<!-- Enable user -->
<div class="modal fade" id="enableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enable confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to enable this user: {{checkedUser.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="enableUser()" data-dismiss="modal">Enable</button>
      </div>
    </div>
  </div>
</div>

<!-- Enable users -->
<div class="modal fade" id="enableMultipleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enable confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to enable these users?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="enableUsers()" data-dismiss="modal">Enable</button>
      </div>
    </div>
  </div>
</div>
