<div class="card widget-card">
  <widget-header [name]="model.name" (deleteClick)="setDelete(true)" (editClick)="setEdit(true)"></widget-header>
  <div class="card-block widget-content">
    <label class="switch">
      <input type="checkbox" [(ngModel)]="controlCheck" (change)="onControlChange()">
      <span class="slider round"></span>
    </label>
  </div>
</div>

<div class="app-modal" *ngIf="isDeleting==true">
  <div class="app-modal-content">
    <div class="app-modal-header">
      <p class="title">Warning message</p>
    </div>
    <p class="message">Are you sure want to delete this Widget</p>
    <div class="app-modal-footer">
      <button class="app-btn" (click)="deleteWidget()">Delete widget</button>
      <button class="app-btn-white" (click)="setDelete(false)">Cancel</button>
    </div>
  </div>
</div>

<div class="app-modal edit-modal" *ngIf="isEditing==true">
  <div class="app-modal-content">
    <switch-form [model]="widgetInfo" (cancel)="setEdit(false)" (complete)="onSubmit($event)"></switch-form>
  </div>
</div>
