<div class="card widget-card">
  <widget-header [name]="widgetName" (editClick)="setEdit(true)" (deleteClick)="setDelete(true)"></widget-header>
  <div class="card-block widget-content">
    <ul class="legend">
      <li *ngFor="let legend of legends">
        <i class="fas fa-circle align-middle" [style.color]="legend.color"></i>
        {{legend.name}}
      </li>
    </ul>
    <div class="svg-container svg-{{idx}}">
    </div>
  </div>
</div>

<div class="app-modal" *ngIf="isDeleting==true">
  <div class="app-modal-content">
    <div class="app-modal-header">
      <p class="title">Warning message</p>
    </div>
    <p class="message">Are you sure want to delete this Widget</p>
    <div class="app-modal-footer">
      <button class="app-btn" (click)="deleteWidget()">Delete widget</button>
      <button class="app-btn-white" (click)="setDelete(false)">Cancel</button>
    </div>
  </div>
</div>

<div class="app-modal edit-modal" *ngIf="isEditing==true">
  <div class="app-modal-content">
    <linechart-form [model]="widgetInfo" (cancel)="setEdit(false)" (complete)="onSubmit($event)"></linechart-form>
  </div>
</div>
