$primary-color: #454545;
$second-color: #939393;
$red-color:#1aaa55;
.button-datatable td {
  border-bottom: none solid white;
}

.button-datatable {
  width: 100%;
}

.create-button {
  width: 145px !important;
  height: 30px !important;
  color: white;
  border-radius: 20px;
  background-image: linear-gradient(202deg,#1aaa55, #1aaa55) !important;
  border-color: white;
  padding: 0px;
  border-width: 0px;
}

.export-button {
  width: 93px !important;
  height: 30px !important;
  color: #1aaa55;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #1aaa55;
  margin-left: 15px;
}

.inputicon p {
  position: absolute;
  color: #444444;
  margin-left: 275px;
  top: 10px;
  z-index: 1;
}

.view-btn {
  background: none;
  border: none;
  i {
    line-height: 36px;
    font-size: 24px;
    color: #454545;
  }
  &.active {
    i {
      color: $red-color;
    }
  }
}

.refresh {
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  font-style: normal;
  font-family: Poppins;
  font-size: 14px;
  cursor: pointer;
}

.inputicon .fa {
  color: #1aaa55;
}

.select-all-checkbox {
  width: 100%;
  text-align: center;
}

.trash .fa {
  color: black;
  width: 10% !important;
}

.status-active {
  color: #0ba200;
}

.email {
  color: #1aaa55;
}

button:disabled {
  cursor: not-allowed;
}

.app-btn,
.app-btn-white {
  width: 110px;
  text-align: center;
  margin: 0px 2px;
}

.deivces-header {
  height: 50px;
  margin-bottom: 2rem;
}

.devices-name {
  line-height: 50px;
  margin: 18px 0px;
  float: left;
  font-size: 30px;
  font-weight: bold;
  img {
    width: 46px;
    height: 34px;
  }
  span {
    padding-left: 7px;
  }
  .fas {
    margin-right: 20px;
    color: #1aaa55;
  }
}

.cards {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  li {
    width: 25%;
    padding: 10px;
  }
}

.card-length {
  font-size: 20px;
  margin-left: 10px;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .cards {
    li {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width:1920px) {}

@media screen and (max-width:1366px) {}
