<nav class="navbar navbar-toggleable-md navbar-light bg-faded app-nav" *ngIf="auth.loggedIn">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand app-title" routerLink="">Smart sprinkler</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto app-nav-ul">

      <li class="nav-item dropdown split-dropdown" [class.active]="util.currentPage=='dashboards'">
        <a class="nav-link" routerLink="/dashboards" (click)="util.setCurrentPage('dashboards')">Dashboard</a>
        <a class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </a>
        <div class="dropdown-menu">
          <h6 class="dropdown-header">Recent Dashboard</h6>
          <a class="dropdown-item" href="#">Dashboard 1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/dashboards">View All Dashboard</a>
          <a class="dropdown-item">
            <button class="app-btn">Create dashboard</button>
          </a>
        </div>
      </li>

      <li class="nav-item dropdown split-dropdown" [class.active]="util.currentPage=='devices'">
        <a class="nav-link" routerLink="/devices" (click)="util.setCurrentPage('devices')">Devices</a>
        <a class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </a>
        <div class="dropdown-menu">
          <h6 class="dropdown-header">Recent Devices</h6>
          <a class="dropdown-item" href="#">Sprinkler 1</a>
          <a class="dropdown-item" href="#">Sprinkler 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" routerLink="/devices">View All Devices</a>
          <a class="dropdown-item" href="#">
            <button class="app-btn">Create device</button>
          </a>
        </div>
      </li>

      <li class="nav-item" [class.active]="util.currentPage=='users'">
        <a routerLink="/users" class="nav-link" (click)="util.setCurrentPage('users')">Users</a>
      </li>

      <li class="nav-item dropdown split-dropdown" [class.active]="util.currentPage=='rules'">
        <a class="nav-link" routerLink="/rules" (click)="util.setCurrentPage('rules')">Rules</a>
        <a class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </a>
        <div class="dropdown-menu">
          <h6 class="dropdown-header">Recent Rules</h6>
          <a class="dropdown-item" href="#">No Recent Rules</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">View All Rules</a>
          <a class="dropdown-item" href="#">
            <button class="app-btn">Create rule</button>
          </a>
        </div>
      </li>

      <li class="nav-item dropdown split-dropdown" [class.active]="util.currentPage=='event'">
        <a class="nav-link" routerLink="/event" (click)="util.setCurrentPage('event')">Events</a>
        <a class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </a>
        <div class="dropdown-menu">
          <h6 class="dropdown-header">Recent Events</h6>
          <a class="dropdown-item" href="#">No Recent Events</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">View All Events</a>
          <a class="dropdown-item" href="#">
            <button class="app-btn">Create event</button>
          </a>
        </div>
      </li>
    </ul>

    <div class="my-2 my-lg-0">
      <div class="user-login">
        <div class="avatar-wrapper">
          <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5lmp0DFlmnWfAKNG_MXawGq1rk7HZUxy37A9CZpYKhSw2QLbd">
        </div>
        <div class="dropdown user-dropdown">
          <a class="dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hi! {{auth.currentUser.name}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" routerLink="/account">Account Settings</a>
            <a class="dropdown-item" routerLink="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>