$primary-color: #454545;
$second-color: #939393;
$red-color:#1aaa55;
.app-nav {
  height: 81px;
  padding: 0px 50px;
  box-shadow: 0px 2px 10px 0 rgba(150, 150, 150, 0.2);
  background: white;
  img {
    width: 60%;
  }
  .avatar-wrapper {
    line-height: 80px;
    display: inline-block;
    img {
      width: 32px;
      height: 32px;
      border: 1px solid black;
      border-radius: 50%;
    }
  }
}

.app-nav-ul {
  margin: auto;
  line-height: 80px;
  .nav-link {
    padding: 0px 40px;
    font-size: 18px;
    color: #454545;
    display: inline-block;
  }
  .nav-item.active {
    .nav-link {
      color: $red-color;
      font-weight: bold;
    }
    border-bottom: 3px solid $red-color;
  }
  .nav-item.split-dropdown {
    .nav-link {
      padding-right: 0;
    }
    .dropdown-toggle-split {
      display: inline-block;
      padding-right: 20px;
      cursor: pointer;
    }
    &.active {
      .dropdown-toggle-split {
        color: $red-color;
      }
    }
  }
}

.dropdown-menu {
  padding: 0;
  a {
    line-height: 40px;
  }
}

.user-dropdown {
  line-height: 80px;
  display: inline-block;
  a {
    text-decoration: none;
    color: $primary-color;
  }
}

.dropdown-item .app-btn {
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.navbar-toggler{
  margin-top: 20px;
}

@media screen and (max-width:992px) {
  .app-nav {
    img {
      width: 20%;
    }
  }
  .navbar-collapse {
    text-align: center;
    box-shadow: 0px 2px 10px 0 rgba(150, 150, 150, 0.2);
    background: white;
    position: absolute;
    width: 100%;
    top: 80px;
    z-index: 100;
    left: 0;
    .app-nav-ul {
      line-height: 40px;
      .nav-item {
        a {
          padding: 0;
        }
        &.active{
          border:none;
        }
      }
      .dropdown-menu {
        .dropdown-divider {
          display: none;
        }
        border:none;
        text-align: center;
        .dropdown-item:last-child {
          box-shadow: 0px 5px 10px 0 rgba(150, 150, 150, 0.2);
        }
      }
    }
  }
  .my-2 {
    margin-bottom: 0 !important;
  }
  .user-login {
    border-top: 2px solid #949494;
    background: aliceblue;
    text-align: center;
  }
}

@media screen and (max-width:552px) {
  .app-nav {
    img {
      width: 40%;
    }
  }
}

@media screen and (max-width:414px) {
  .app-nav {
    img {
      width: 55%;
    }
  }
}
