<div class="login-section">
  <div class="container-fluid">
    <div class="login">
      <h2 class="login-title">Login</h2>
      <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="group">
            <input class="inputMaterial" required type="email" name="email" formControlName="email">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="login-label">Username</label>
          </div>
          <div class="group">
            <input class="inputMaterial" required type="password" name="password" formControlName="password">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="login-label">Password</label>
          </div>
          <div class="login-addition">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Remember password</span>
            </label>
            <a class="forgot-password" routerLink="/forgot-password">Forgot Password?</a>
          </div>
          <button class="login-btn" type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="title-section">
  <div class="welcome">
    <h2 class="welcome-to">Welcome to</h2>
    <h2 class="welcome-title">Smart Sprinkler</h2>
  </div>
</div>
